body {
    font-family: 'Prompt', sans-serif;
}

.header-section {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    height: 669px;
    background-size: cover;
}

.header-side {
    text-align: center;
    color: white;
    position: absolute;
    width: 826px;
    height: 320px;
    left: 307px;
    top: 174px;

}

.header-side h1 {
    font-size: 65px;
    font-weight: 700;
}

.header-side p {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
}

.header-side button {
    width: 150px;
    height: 56px;
    background: #FF5959;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    border: 0;
    font-size: 18px;
}

.donate-section {
    text-align: center;
    width: 765px;
    margin-left: 21%;

}

.donate-money div {
    display: inline-block;
    width: 135px;
    height: 123px;
    background: #FAFAFA;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    margin-left: 6px;
    margin-right: 6px;

}

.donate-money div h3 {
    margin-top: 50px;
}

#donate-div2 {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;

}



.donate-header h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}

.donate-header p {
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    width: 691px;
    text-align: center;
    padding-left: 33px;
    font-family: 'Poppins';
    font-style: normal;
}

.other-amount p {
    border-bottom: 1px solid #DADADA;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #B3B3B3;
}

.other-amount button {
    width: 160px;
    background: #FF5959;
    border-radius: 5px;
    height: 56px;
    border: 0;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 400;
}

.donate-plan-side1 {
    width: 691px;
    height: 130px;
    text-align: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.donate-plan-side1 h2 {
    font-size: 43px;
    color: #121212;
    font-weight: 700;
    margin-bottom: 10px;

}

.donate-plan-side2 {
    margin-left: 100px;

}



.donate-plan-div1 {
    width: 360px;
    height: 290px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    display: inline-block;
    padding-top: 40px;
    padding-left: 8px;

}

.donate-plan-div1 h2 p {
    text-align: center;
    margin-top: 60px;

}

.donate-plan-div2 {
    width: 360px;
    height: 290px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    display: inline-block;
    margin-left: 24px;
    padding-top: 40px;
    padding-left: 8px;
}

.donate-plan-div2 h2 p {
    text-align: center;
}


.donate-plan-div3 {
    width: 360px;
    height: 268px;
    background: #FFF4D6;
    border-radius: 5px;
    display: inline-block;
    padding-top: 62px;
    margin-left: 24px;
    padding-left: 8px;

}

.donate-plan-div3 h2 p {
    padding-bottom: 0;
    text-align: center;
}

.update-side {
    text-align: center;
    width: 691px;
    height: 130px;
    margin-left: 25%;
}

.update-side h2 {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #121212;
    margin-top: 60px;
    margin-bottom: 0;

}

.update-field p {
    width: 691px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #707070;

}

.update-field {
    width: 809px;
    height: 200px;
    text-align: center;
    background: #FFF4D6;
    margin-left: 20%;

}

.update-field input {
    width: 275px;
    height: 48px;
    text-align: start;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    border: none;
    margin-top: 78px;
}

.update-field button {
    width: 157px;
    height: 48px;
    background: #FF5959;
    border: none;
    border-radius: 0px 5px 5px 0px;

}